.logo-color {
    color: #3e9b0c;
    font-family:'fantasy';
    font-size: 2em;

}
.horirul{
    color: #3e9b0c;
}
.logo-ft{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.header{
    background-image:url(/assets/img/bg.jpg);
    height: 100vh;
    background-size:cover;
    background-position:center ; 
    background-attachment: fixed;   
}
.ul{
        list-style: none;
        float: right;
        display: flex;
        margin-top: 20px;
    }
.bgb{
    background-image: url(/assets/img/bgd.jpg);
    background-repeat: no-repeat;
}
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
